<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add | My Library</title>
    <link rel="stylesheet" href="https://classless.de/classless.css">
    <style> h3 { font-weight: normal; } </style>
</head>
<body>
    <h1>
        Add a book to your library
    </h1>
    <form action='/add' method='post'>
        <input placeholder='Book ISBN' name='isbn'>
        <br/>
        <input type="submit" value='Add Book'>
    </form>
</body>
</html>