<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm | My Library</title>
    <link rel="stylesheet" href="https://classless.de/classless.css">
    <style> h3 { font-weight: normal; } </style>
</head>
<body>
    <h1>
        Confirm this is the book you are looking for
    </h1>
    <h3>
        Are you looking for <b>{{ title }}</b> by <b>{{ author }}</b>?
    </h3>
    <form action='/book-add' method='post'>
        <input name='isbn' value="{{ isbn }}" style='display:none;'>
        <input type='submit' value='Yes'>
    </form>
    <a href='/add'>
        <input type='submit' value='No, go back'>
    </a>
</body>
</html>
